version: '3.8'

services:
  pulsepro-backend:
    # En Swarm no se usa 'build' ni 'container_name'
    image: ghcr.io/gadiel-bot09/impulsepro:main
    deploy:
      restart_policy:
        condition: on-failure
    ports:
      - "${PORT:-3000}:${PORT:-3000}"
    environment:
      - PORT=${PORT:-3000}
      - BASE_URL=${BASE_URL}
      - MERCADOPAGO_ACCESS_TOKEN=${MERCADOPAGO_ACCESS_TOKEN}
