## Altere los siguientes datos:
# nombre de su sitio web: impulsepro
# red interna: SinuNet
# link de su sitio: impulsepro.com

version: "3.7"
services:

  ## --------------------------- SINUHUB --------------------------- ##

  impulsepro:
    image: php:8.4.7-apache

    volumes:
      - /root/impulsepro:/var/www/html/ ## Cambie "meu-site" para el nombre de su sitio

    networks:
      - SinuNet ## Nome da rede interna

    environment:
      - TZ=America/Bogota

    deploy:
      mode: replicated
      replicas: 1
      placement:
        constraints:
          - node.role == manager
      resources:
        limits:
          cpus: "1"
          memory: 1024M
      labels:
        - traefik.enable=true
        - traefik.http.routers.impulsepro.rule=Host(`impulsepro.com`) ## link de su sitio
        - traefik.http.services.impulsepro.loadbalancer.server.port=80
        - traefik.http.routers.impulsepro.service=impulsepro
        - traefik.http.routers.impulsepro.tls.certresolver=letsencryptresolver
        - traefik.http.routers.impulsepro.entrypoints=websecure
        - traefik.http.routers.impulsepro.tls=true

## --------------------------- SINUHUB --------------------------- ##

networks:
  SinuNet:
    ## Nombre de la red interna
    name: SinuNet ## Nome da rede interna
    external: true
